@import "../import/import"

// Layout
// -------------------------------
.detail-container
	+on-tablet
		width: 100%
	+size(calc(100% + 17px), 100%)
	-webkit-overflow-scrolling: touch
	font-size: .95em
	overflow-y: auto

.detail-bus-item
	display: flex

.stop-name
	flex-grow: 1

.stop-status
	border-radius: $border-radius
	color: $color-white
	font-size: .85em
	letter-spacing: .05em
	padding: .25em .5em

	&.is-coming
		background: lighten($color-pink, 5%)

	&.is-pull-in
		background: $color-pink

	&.is-estimated
		background: $color-green

	&.is-not-active
		background: $color-text-secondary