@import "../import/import"

// Layout
// -------------------------------
.wrap-container
	margin: 0 auto
	max-width: 1200px
	text-align: center

.search-icon
	+hover
		background: $color-pink
	+size(1.75em)
	background: lighten($color-pink, 10%)
	border-radius: 50%
	color: $color-white
	cursor: pointer
	font-size: 1.9em
	text-align: center

	&.material-icons
		line-height: 1.75em
	
.search-bar
	+size(13em, 2.25em)
	background: $color-white
	border-radius: 2.5em
	margin: 0 auto
	overflow: hidden
	position: relative

.search-content
	height: 100%
	font-size: .9em
	padding: .5em 1.25em

	&::placeholder
		color: lighten($color-text-secondary, 10%)

.search-btn
	+hover
		background: $color-pink
	+position(absolute, 0 0 null null)
	+size(40px, 37px)
	background: lighten($color-pink, 10%)
	color: $color-white
	cursor: pointer
	transition: background .2s
	
	&.material-icons
		line-height: 1.5