@import "../import/import"

// Layout
// -------------------------------
$content-padding: 2em
$content-padding-mobile: 1.5em
$color-bus-item-bg: #eff3e6

.wrapper
	+on-mobile
		height: 100%
	background: $color-white
	border-radius: $border-radius
	box-shadow: 3px 3px 8px $color-shadow
	display: flex
	flex-direction: column
	height: 40em
	max-width: 28em
	margin: 0 auto
	overflow: hidden
	position: relative

	&::before,
	&::after
		+position(absolute, null null null 0)
		+size(100%, 5px)
		content: ''

	&::before
		background: $color-green
		top: 0

	&::after
		background: $color-light-pink
		top: 5px

.upper-part
	+on-mobile
		padding: $content-padding-mobile
	border-bottom: 4px dashed $color-wheat
	padding: $content-padding
	position: relative

	&::before
		+on-mobile
			font-size: 4em
		+position(absolute, 50% .2em null null)
		+size(1.25em)
		border: .05em solid
		border-radius: 50%
		content: 'airport_shuttle'
		font-family: 'Material Icons'
		font-size: 4.5em
		line-height: 1.25em
		opacity: .1
		text-align: center
		transform: translateY(-50%) rotate(-15deg)

.down-part
	height: 100%
	padding: 1em 1.5em


// searchForm
// -------------------
.bus-number-container
	+on-mobile
		font-size: 2.25em
	color: $color-pink
	font-size: 2.5em
	height: 1.35em // set height to fix container size
	margin-bottom: .1em
	position: relative
	z-index: $z-index-1-bus-number-container

	.material-icons
		cursor: pointer
		font-size: .75em

.bus-number-display
	+hover
		.no-bus-number,
		.btn-edit-number
			opacity: 1
	cursor: pointer
	display: inline-block

.no-bus-number
	display: inline-block
	font-size: .5em
	opacity: .5
	transform: translateY(-.4em)
	transition: opacity .2s

.btn-edit-number
	opacity: .5
	transition: opacity .2s

.bus-number-edit
	align-items: center
	display: flex

.input-bus-number
	border-bottom: $border-width solid lighten($color-pink, 25%)
	font-size: .6em
	max-width: 8em
	padding: .1em 0

.route-content
	+on-mobile
		font-size: .85em
	display: inline-block
	margin-right: .5em

.bus-route
	font-size: 1.15em

.route-seperater
	+size(2.25em, 2px)
	background: $color-text-secondary
	display: inline-block
	margin: 0 .75em
	vertical-align: middle

.btn-switch-route
	+hover
		transform: rotate(90deg)
	color: $color-green
	cursor: pointer
	font-size: 1.15em
	transition: transform .2s
	vertical-align: sub

// Down part
// -------------------
.result-content
	height: 100%
	overflow: hidden

.result-route-item
	cursor: pointer

.detail-bus-item
	padding: .5em 1em

	&:nth-child(odd)
		background: $color-bus-item-bg

	&:not(:last-child)
		margin-bottom: .5em

.default-content
	color: lighten($color-text-secondary, 10%)
	font-size: .95em
	padding-top: 1em
	text-align: center

	.material-icons
		display: block
		font-size: 2em
		margin-bottom: .2em