<template>
<ul class="detail-container">
	<li class="detail-bus-item"
		v-for="(busStop, index) in displayBusStopList"
		:key="index">
		<div class="stop-name">{{busStop.StopName.Zh_tw}}</div>
		<div class="stop-status"
			:class="getStatusClass(busStop.EstimateTime, busStop.StopStatus)">
			{{isLoadingStatus ? 'loading' : getBusStatus(busStop.EstimateTime, busStop.StopStatus)}}
		</div>
		<!-- <div class="bus-through">UFF-1695</div> -->
	</li>
</ul>
</template>

<script>
export default {
	props: {
		routes: {
			type: Array,
			default() {
				return [];
			},
		},
		direction: {
			type: Number,
			default: 0,
		},
		isLoadingStatus: {
			type: Boolean,
			deault: true,
		},
	},
	methods: {
		getBusStatus(estimatedTime, statusId) {
			// status: '0: 正常', '1: 尚未發車', '2: 交管不停靠', '3: 末班車已過', '4: 今日未營運'
			if(estimatedTime) {
				return estimatedTime <= 60 ? '即將進站' : Math.floor(estimatedTime / 60) + '分鐘';
			}
			else if(!estimatedTime && statusId === 0) {
				return '進站中';
			}
			else {
				switch(statusId) {
					case 0:
						return '正常';
						break;
					case 1:
						return '尚未發車';
						break;
					case 2:
						return '交管不停靠';
						break;
					case 3:
						return '末班車已過';
						break;
					case 4:
						return '今日未營運';
						break;
					default:
						return '無資料';
				}
			}
		},
		getStatusClass(estimateTime, statusId) {
			if(estimateTime) {
				return estimateTime <= 60 ? 'is-pull-in' : 'is-estimated';
			}
			else if(!estimateTime && statusId === 0) {
				return 'is-coming';
			}
			else {
				return 'is-not-active';
			}
		},
	},
	computed: {
		displayBusStopList() {
			if(this.routes) {
				if(this.routes.length > 0) {
					for(let i = 0; i < this.routes.length; i++) {
						if(this.routes[i].Direction === this.direction) {
							return this.routes[i].Stops;
						}
					}
				}
				else {
					return this.routes[0].Stops;
				}
			}
			else {
				return 'oh no! 查無資料';
			}
		},
	},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import "../styles/components/detail.sass"
</style>