<template>
	<div class="loading-state">
        <div class="loading-cube"
            v-for="(cube, index) in 4"
            :key="cube.id"
            :class="'cube' + '-' + (index + 1)">
        </div>
	</div>
</template>

<script>
export default {
  name: 'loadingState',
};
</script>

<style lang="sass" scoped>
@import "../styles/components/loading-state.sass"
</style>