<template>
	<div class="wrap-container" ref="test">
		<BusIcon></BusIcon>
		<transition name="fade" mode="out-in">
		<i class="material-icons search-icon"
			v-if="!isOpenSearchBar"
			@click="isOpenSearchBar = true">search</i>
		<div class="search-bar" v-else>
			<input type="text"
				ref="searchInput"
				class="search-content"
				placeholder="請輸入公車路線"
				v-model="keyword"
				@keydown.enter="search"
				@blur="isOpenSearchBar = false">
			<i class="material-icons search-btn"
				@click="search">search</i>
		</div>
		</transition>
	</div>
</template>

<script>
import BusIcon from './busIcon'

export default {
	name: 'Main',
	components: {
		BusIcon,
	},
	data() {
		return {
			isOpenSearchBar: false,
			keyword: '',
		}
    },
	watch: {
		isOpenSearchBar(newValue) {
			if(newValue) {
				setTimeout(() => {
					this.$refs.searchInput.focus();
				}, 200); // use setTimeout instead o $nextTick becuase of transition timing is longer than $nextTick
			}
		}
	},
	methods: {
		search() {
			if(this.keyword) {
				this.$router.push({
					name: 'search',
					params: {
							busNumber: this.keyword,
						},
				});
			}
		},
	},
	created() {
		window.addEventListener('focusout', this.search);
	},
	destroyed() {
		window.removeEventListener('focusout', this.search);
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass">
@import "../styles/components/main.sass"
</style>