<template>
	<div class="wrapper">
		<div class="upper-part" ref="upperPart">
			<div class="bus-number-container">
				<div class="bus-number-display"
					v-if="!options.isSearchFromEditMode"
					@click="toggleInput('open')">
					<span v-if="searchParams.busNumber">{{searchParams.busNumber}}</span>
					<span class="no-bus-number" v-else>輸入路線</span>
					<i class="material-icons btn-edit-number">edit</i>
				</div>
				<div class="bus-number-edit"
					v-show="options.isSearchFromEditMode"
					@mouseenter="options.isLeavingInput = false"
					@mouseleave="options.isLeavingInput = true">
					<input type="text"
						ref="inputBusNumber"
						class="input-bus-number"
						v-model="searchParams.busNumber"
						@blur="handleBlur"
						@keydown.enter="search">
					<i class="material-icons btn-search" @click.stop="search">search</i>
				</div>
			</div>
			<div class="bus-route">
				<span class="route-content">
					{{origin ? origin : '起點'}}
					<span class="route-seperater"></span>
					{{destination ? destination : '迄點'}}
				</span>
				<i class="material-icons btn-switch-route"
					v-if="hasDirection"
					@click="switchDirection">autorenew</i>
			</div>
		</div>
		<div class="down-part" :style="{height: options.downPartHeight}">
			<transition name="fade" mode="out-in">
			<div key="loadingState" v-if="isLoadingSearch">
				<LoadingState></LoadingState>
			</div>
			<div key="result" class="result-content" v-else>
				<Detail
					v-if="displayMode === 'detail'"
					:direction="detail.direction"
					:routes="detail.displayBusStopList"
					:isLoadingStatus="isLoadingStatus"></Detail>
				<div class="search-result" v-else-if="displayMode === 'result'">
					<ul class="result-list" v-if="result.busNumberList.length > 0">
						<li class="detail-bus-item result-route-item"
							v-for="route in result.busNumberList"
							:key="route.id"
							@click="selectBusRoute(route)">
							{{route}}
						</li>
					</ul>
					<div class="default-content" v-else>
						<i class="material-icons">sentiment_dissatisfied</i>
						查無此公車
					</div>
				</div>
				<div class="default-content" v-else>
					<i class="material-icons">directions_bus</i>
					請輸入欲查詢的路線
				</div>
			</div>
			</transition>
		</div>
	</div>
</template>

<script>
import Detail from './Detail'
import LoadingState from './loadingState'

const jsSHA = require('jssha');
const axios = require('axios');

export default {
	name: 'Search',
	components: {
		Detail,
		LoadingState,
	},
	data () {
		return {
			options: {
				isSearchFromEditMode: false,
				isLeavingInput: false,
				downPartHeight: 'auto',
			},
			searchParams: {
				busNumber: this.$route.params.busNumber || '',
			},
			displayMode: 'default',
			result: {
				busNumberList: null,
			},
			detail: {
				direction: 0, // 去回程, default: 0
				displayBusStopList: null, // [{去程}, {返程}]
				updatedData: null,
			},
			hasDirection: false,
			busNumberResponse: null,
			origin: null,
			destination: null,
			isLoadingSearch: false,
			isLoadingStatus: true,
		}
	},
	watch: {
		displayMode(newValue, oldValue) {
			if(newValue !== 'detail') {
				this.resetOriginAndDestination();
				if(oldValue === 'detail') {
					this.stopUpdateData();
				}
			}
			if(newValue === 'detail') {
				this.refreshData();
			}
		},
	},
	mounted() {
		if(this.$route.params.busNumber) {
			this.search();
		}
		this.setDownPartHeight();
	},
	created() {
		window.addEventListener('resize', this.setDownPartHeight);
		window.addEventListener('focusout', this.search);
	},
	destroyed() {
		window.removeEventListener('resize', this.setDownPartHeight);
		window.removeEventListener('focusout', this.search);
	},
	computed: {
		getAuthorizationHeader() {
			const AppID = '3c148316d9f24d4fa15772be932613d9';
			const AppKey = 'hQzI2Xp97IU8B7jNzZAGdmU3ZXQ';

			const GMTString = new Date().toGMTString();
			const ShaObj = new jsSHA('SHA-1', 'TEXT');
			ShaObj.setHMACKey(AppKey, 'TEXT');
			ShaObj.update('x-date: ' + GMTString);
			const HMAC = ShaObj.getHMAC('B64');
			const Authorization = 'hmac username=\"' + AppID + '\", algorithm=\"hmac-sha1\", headers=\"x-date\", signature=\"' + HMAC + '\"';

			return {
				'Authorization': Authorization,
				'X-Date': GMTString /*,'Accept-Encoding': 'gzip'*/
			}; //如果要將js運行在伺服器，可額外加入 'Accept-Encoding': 'gzip'，要求壓縮以減少網路傳輸資料量
		}
	},
	methods: {
		toggleInput(mode) {
			if(mode === 'open') {
				this.options.isSearchFromEditMode = true;
				this.$nextTick(() => {
					this.$refs.inputBusNumber.focus();
				});
			}	
			else if(mode === 'close'){
				this.$refs.inputBusNumber.blur();
				this.options.isSearchFromEditMode = false;
			}
			else {
				this.options.isSearchFromEditMode = !this.options.isSearchFromEditMode;
			}
		},
		handleBlur() {
			if(this.options.isLeavingInput) {
				this.toggleInput('close');
			}
		},
		setDownPartHeight() {
			this.options.downPartHeight = 'calc(100% - ' + this.$refs.upperPart.offsetHeight + 'px)';
		},
		switchDirection() {
			this.detail.direction = this.detail.direction === 0 ? 1 : 0;
			[this.origin, this.destination] = [this.destination, this.origin];
		},
		search() {
			this.toggleInput('close');
			this.getBusNumberResponse();
		},
		selectBusRoute(route) {
			this.getBusNumberResponse(route);
			this.searchParams.busNumber = route;
		},
		getBusNumberResponse(advancedSelect = null) {
			const newAxios = axios.create({
				headers: this.getAuthorizationHeader,
			});
			const api = 'https://ptx.transportdata.tw/MOTC/v2/Bus/DisplayStopOfRoute/City/Taipei/' + this.searchParams.busNumber + '?$top=10&$format=JSON' + (advancedSelect ? '&$filter=RouteName%2FZh_tw%20eq%20%27' + advancedSelect + '%27' : '');
			this.isLoadingSearch = true;

			newAxios.get(api)
				.then((response) => {
					// handle success
					this.isLoadingSearch = false;
					this.busNumberResponse = response.data;

					// search route names combine with input text
					let busNumberList = [];
					for(let i = 0; i < this.busNumberResponse.length; i++) {
						let isDuplicate = false;
						for(let j = 0; j < busNumberList.length; j++) {
							if(response.data[i].RouteName.Zh_tw === busNumberList[j]) {
								isDuplicate = true;
								break;
							}
						}
						if(!isDuplicate) {
							busNumberList.push(response.data[i].RouteName.Zh_tw);
						}
					}
					this.result.busNumberList = busNumberList;

					// check results length
					if(this.result.busNumberList.length === 1) {
						this.displayMode = 'detail';
						this.getBusInfoResponse();
						this.getBusEstimatedTime(advancedSelect);
						this.detail.displayBusStopList = this.busNumberResponse;
						this.hasDirection = this.busNumberResponse.length > 1;
					}
					else {
						this.displayMode = 'result';
					}
				})
				.catch((error) => {
					// handle error
					this.isLoadingSearch = false;
					this.busNumberResponse = null;
					console.log('getBusNumberResponse error: ' + error);
				})
				.then(() => {
					// always executed
				});
		},
		getBusInfoResponse() {
			const newAxios = axios.create({
				headers: this.getAuthorizationHeader,
			});
			const api = 'https://ptx.transportdata.tw/MOTC/v2/Bus/Route/City/Taipei/' + this.searchParams.busNumber +'?$top=30&$format=JSON&$filter=RouteName%2FZh_tw%20eq%20%27' + this.searchParams.busNumber + '%27';

			newAxios.get(api)
				.then((response) => {
					// handle success
					let busInfoResponse = response.data[0];
					this.origin = busInfoResponse.DepartureStopNameZh;
					this.destination = busInfoResponse.DestinationStopNameZh;
				})
				.catch((error) => {
					// handle error
					this.resetOriginAndDestination();
					console.log(error);
				})
				.then(() => {
					// always executed
				});
		},
		getBusEstimatedTime(busNumber) {
			const newAxios = axios.create({
				headers: this.getAuthorizationHeader,
			});
			const api = 'https://ptx.transportdata.tw/MOTC/v2/Bus/EstimatedTimeOfArrival/City/Taipei/' + busNumber + '?$top=200&$format=JSON&$filter=RouteName%2FZh_tw%20eq%20%27' + busNumber + '%27';
			this.isLoadingStatus = true;

			newAxios.get(api)
				.then((response) => {
					// handle success
					let estimatedList = response.data;

					// map in busNumberResponse
					let directionList = [[], []];
					for(let i = 0; i < estimatedList.length; i++) {
						if(estimatedList[i].Direction === 0) {
							directionList[0].push(estimatedList[i]);
						}
						else {
							directionList[1].push(estimatedList[i]);
						}
					}

					for(let i = 0; i < this.busNumberResponse.length; i++) {
						let direction = this.busNumberResponse[i].Direction;
						for(let j = 0; j < this.busNumberResponse[i].Stops.length; j++) {
							let hasStopData = false;
							for(let k = 0; k < directionList[direction].length; k++) {
								if(this.busNumberResponse[i].Stops[j].StopID === directionList[direction][k].StopID) {
									this.busNumberResponse[i].Stops[j].StopStatus = directionList[direction][k].StopStatus;
									this.busNumberResponse[i].Stops[j].EstimateTime = directionList[direction][k].EstimateTime ? directionList[direction][k].EstimateTime : null;
									hasStopData = true;
									break;
								}
							}
							if(!hasStopData) {
								this.busNumberResponse[i].Stops[j].StopStatus = null;
								this.busNumberResponse[i].Stops[j].EstimateTime = null;
							}
						}
					}

					this.isLoadingStatus = false;
				})
				.catch((error) => {
					// handle error
					console.log('getBusEstimatedTime error: ' + error);
				})
				.then(() => {
					// always executed
				});
		},
		resetOriginAndDestination() {
			this.origin = null;
			this.destination = null;
		},
		refreshData() {
			this.detail.updatedData = setInterval(() => {
				this.getBusEstimatedTime(this.searchParams.busNumber);
			}, 10000);
		},
		stopUpdateData() {
			clearInterval(this.detail.updatedData);
		},
	},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass">
@import "../styles/components/search.sass"
</style>