@import "../import/import"

// Layout
// --------------------------
#app
	+on-mobile
		height: 95vh
	+position(absolute, 0 null null 0)
	background: $color-background
	height: 100vh
	width: 100vw

.header
	padding: .5em 1em

	.logo
		+on-mobile
			font-size: 1.85em
			padding: 0
		color: $color-pink
		font-size: 2em
		font-weight: bold
		letter-spacing: .1em
		padding: .1em .5em

.body
	+on-desktop
		padding: 2em 1em
	+on-mobile
		height: calc(100% - 4em)
		padding-top: 0
	padding: .5em 1em
