<template>
  <div id="app">
    <header class="header">
      <router-link to="/" class="logo">Bus.</router-link>
    </header>
    <div class="body">
      <transition name="fade" mode="out-in">
      <router-view/>
      </transition>
    </div>
    <footer class="footer">
      <!-- TODO: add copyright here -->
    </footer>
  </div>
</template>

<script>
export default {
  name: 'App'
};
</script>

<style lang="sass">
@import "./styles/layouts/main"
</style>
