%material-icons
	font-family: 'Material Icons'
	font-weight: normal
	font-style: normal
	font-size: 24px  /* Preferred icon size */
	display: inline-block
	line-height: 1
	text-transform: none
	letter-spacing: normal
	word-wrap: normal
	white-space: nowrap
	direction: ltr

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale

	/* Support for IE. */
	font-feature-settings: 'liga'


// Media queries
// -------------------------------------
$retina-media: 1920px
$desktop-media: 1024px
$tablet-media: 768px
$mobile-media: 480px

@mixin on-desktop
	@media all and (min-width: $desktop-media)
		@content

@mixin on-tablet
	@media all and (max-width: #{$desktop-media - 1px})
		@content

@mixin on-mobile
	@media all and (max-width: $mobile-media)
		@content

// Hover
// -------------------------------------
@mixin hover
	+on-desktop
		&:hover
			@content